#!/bin/bash

if [ "$RELAY_HOST" ]; then
    postconf -e relayhost="$RELAY_HOST"

    postconf -e smtp_tls_policy_maps="hash:/etc/postfix/tls_policy"
    echo $RELAY_HOST encrypt >/etc/postfix/tls_policy
    postmap hash:/etc/postfix/tls_policy
fi

if [ "$MY_DOMAIN" ]; then
    postconf -e mydomain="$MY_DOMAIN"
    postconf -e myorigin="$MY_DOMAIN"
fi

if [ "$SMTP_USER" ]; then
    postconf -e smtp_sasl_auth_enable="yes"
    postconf -e smtp_sasl_security_options=""

    postconf -e smtp_sasl_password_maps="hash:/etc/postfix/sasl_passwd"
    echo ${RELAY_HOST%:*} $SMTP_USER:$SMTP_PASSWORD >/etc/postfix/sasl_passwd
    postmap hash:/etc/postfix/sasl_passwd
fi

